@use "media" as *;

@mixin h1 {
  font-family: var(--font-nunito);
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;

  @include onDesktop {
    font-size: 52px;
    line-height: 64px;
  }
}

@mixin h2 {
  font-family: var(--font-nunito);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  @include onDesktop {
    font-size: 40px;
    line-height: 56px;
  }
}

@mixin h2-bold {
  @include h2;
  font-weight: 700;
}

@mixin h3 {
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  @include onDesktop {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin large-body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include onDesktop {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin large-body-150 {
  @include large-body;
  line-height: 150%;
}

@mixin button {
  font-family: var(--font-open-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @include onDesktop {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin base-body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  @include onDesktop {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin button-2 {
  font-family: var(--font-open-sans);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @include onDesktop {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin small-body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  @include onDesktop {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin footer-text {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  @include onDesktop {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin error-message {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @include onDesktop {
    font-size: 14px;
    line-height: 20px;
  }
}
