/* [project]/src/shared/styles/globals.scss.css [app-client] (css) */
.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #171717;
  --card-foreground: #fafafa;
  --popover: #262626;
  --popover-foreground: #fafafa;
  --primary: #e5e5e5;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #404040;
  --accent-foreground: #fafafa;
  --destructive: #ff6568;
  --border: rgba(255, 255, 255, .1);
  --input: rgba(255, 255, 255, .15);
  --ring: #737373;
  --surface: #161616;
  --surface-foreground: #a1a1a1;
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: #262626;
  --code-number: #a4a4a4;
}

@supports (color: color(display-p3 0 0 0)) {
  .dark {
    --background: color(display-p3 .0393882 .0393882 .0393882);
    --foreground: color(display-p3 .980256 .980256 .980256);
    --card: color(display-p3 .0905274 .0905274 .0905274);
    --card-foreground: color(display-p3 .980256 .980256 .980256);
    --popover: color(display-p3 .149382 .149382 .149382);
    --popover-foreground: color(display-p3 .980256 .980256 .980256);
    --primary: color(display-p3 .898161 .898161 .898161);
    --primary-foreground: color(display-p3 .0905274 .0905274 .0905274);
    --secondary: color(display-p3 .149382 .149382 .149382);
    --secondary-foreground: color(display-p3 .980256 .980256 .980256);
    --muted: color(display-p3 .149382 .149382 .149382);
    --muted-foreground: color(display-p3 .630163 .630163 .630163);
    --accent: color(display-p3 .250471 .250471 .250471);
    --accent-foreground: color(display-p3 .980256 .980256 .980256);
    --destructive: color(display-p3 .933534 .431676 .423491);
    --border: color(display-p3 1 1 1 / .1);
    --input: color(display-p3 1 1 1 / .15);
    --ring: color(display-p3 .451519 .451519 .451519);
    --surface: color(display-p3 .0861042 .0861042 .0861042);
    --surface-foreground: color(display-p3 .630163 .630163 .630163);
    --code-highlight: color(display-p3 .150332 .150332 .150332);
    --code-number: color(display-p3 .64471 .64471 .64471);
  }
}

@supports (color: lab(0% 0 0)) {
  .dark {
    --background: lab(2.75381% 0 0);
    --foreground: lab(98.26% 0 0);
    --card: lab(7.78201% -.0000149012 0);
    --card-foreground: lab(98.26% 0 0);
    --popover: lab(15.204% 0 -.00000596046);
    --popover-foreground: lab(98.26% 0 0);
    --primary: lab(90.952% 0 -.0000119209);
    --primary-foreground: lab(7.78201% -.0000149012 0);
    --secondary: lab(15.204% 0 -.00000596046);
    --secondary-foreground: lab(98.26% 0 0);
    --muted: lab(15.204% 0 -.00000596046);
    --muted-foreground: lab(66.128% -.0000298023 .0000119209);
    --accent: lab(27.036% 0 0);
    --accent-foreground: lab(98.26% 0 0);
    --destructive: lab(63.7053% 60.745 31.3109);
    --border: lab(100% 0 0 / .1);
    --input: lab(100% 0 0 / .15);
    --ring: lab(48.496% 0 0);
    --surface: lab(7.22637% -.0000149012 0);
    --surface-foreground: lab(66.128% -.0000298023 .0000119209);
    --code-highlight: lab(15.32% 0 0);
    --code-number: lab(67.52% -.0000298023 0);
  }
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #09203f;
  min-height: 100vh;
  font-family: var(--font-open-sans);
  background-color: #f3f4f6;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
}

@media (min-width: 1280px) {
  body {
    font-size: 18px;
    line-height: 24px;
  }
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  color: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, svg, video, canvas, picture {
  max-width: 100%;
  display: block;
}

input, textarea, button, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.sr-only {
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

:root {
  --radius: .625rem;
  --background: #fff;
  --foreground: #0a0a0a;
  --card: #fff;
  --card-foreground: #0a0a0a;
  --popover: #fff;
  --popover-foreground: #0a0a0a;
  --primary: #171717;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #e40014;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --surface: #f8f8f8;
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: #f2f2f2;
  --code-number: #747474;
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --background: color(display-p3 1 1 1);
    --foreground: color(display-p3 .0393882 .0393882 .0393882);
    --card: color(display-p3 1 1 1);
    --card-foreground: color(display-p3 .0393882 .0393882 .0393882);
    --popover: color(display-p3 1 1 1);
    --popover-foreground: color(display-p3 .0393882 .0393882 .0393882);
    --primary: color(display-p3 .0905274 .0905274 .0905274);
    --primary-foreground: color(display-p3 .980256 .980256 .980256);
    --secondary: color(display-p3 .960587 .960587 .960587);
    --secondary-foreground: color(display-p3 .0905274 .0905274 .0905274);
    --muted: color(display-p3 .960587 .960587 .960587);
    --muted-foreground: color(display-p3 .451519 .451519 .451519);
    --accent: color(display-p3 .960587 .960587 .960587);
    --accent-foreground: color(display-p3 .0905274 .0905274 .0905274);
    --destructive: color(display-p3 .830323 .140383 .133196);
    --border: color(display-p3 .898161 .898161 .898161);
    --input: color(display-p3 .898161 .898161 .898161);
    --ring: color(display-p3 .630163 .630163 .630163);
    --surface: color(display-p3 .973691 .973691 .973691);
    --code-highlight: color(display-p3 .947516 .947516 .947516);
    --code-number: color(display-p3 .456078 .456078 .456078);
  }
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(100% 0 0);
    --foreground: lab(2.75381% 0 0);
    --card: lab(100% 0 0);
    --card-foreground: lab(2.75381% 0 0);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(2.75381% 0 0);
    --primary: lab(7.78201% -.0000149012 0);
    --primary-foreground: lab(98.26% 0 0);
    --secondary: lab(96.52% -.0000298023 .0000119209);
    --secondary-foreground: lab(7.78201% -.0000149012 0);
    --muted: lab(96.52% -.0000298023 .0000119209);
    --muted-foreground: lab(48.496% 0 0);
    --accent: lab(96.52% -.0000298023 .0000119209);
    --accent-foreground: lab(7.78201% -.0000149012 0);
    --destructive: lab(48.4493% 77.4328 61.5452);
    --border: lab(90.952% 0 -.0000119209);
    --input: lab(90.952% 0 -.0000119209);
    --ring: lab(66.128% -.0000298023 .0000119209);
    --surface: lab(97.68% -.0000298023 .0000119209);
    --code-highlight: lab(95.36% 0 0);
    --code-number: lab(48.96% 0 0);
  }
}

:root {
  --font-sans: inter, serif;
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffcaca;
  --color-red-300: #ffa3a3;
  --color-red-400: #ff6568;
  --color-red-500: #fb2c36;
  --color-red-600: #e40014;
  --color-red-700: #bf000f;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #ffd7a8;
  --color-orange-300: #ffb96d;
  --color-orange-400: #ff8b1a;
  --color-orange-500: #fe6e00;
  --color-orange-600: #f05100;
  --color-orange-700: #c53c00;
  --color-orange-800: #9f2d00;
  --color-orange-900: #7e2a0c;
  --color-orange-950: #441306;
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c6;
  --color-amber-200: #fee685;
  --color-amber-300: #ffd236;
  --color-amber-400: #fcbb00;
  --color-amber-500: #f99c00;
  --color-amber-600: #dd7400;
  --color-amber-700: #b75000;
  --color-amber-800: #953d00;
  --color-amber-900: #7b3306;
  --color-amber-950: #461901;
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c2;
  --color-yellow-200: #fff085;
  --color-yellow-300: #ffe02a;
  --color-yellow-400: #fac800;
  --color-yellow-500: #edb200;
  --color-yellow-600: #cd8900;
  --color-yellow-700: #a36100;
  --color-yellow-800: #874b00;
  --color-yellow-900: #733e0a;
  --color-yellow-950: #432004;
  --color-lime-50: #f7fee7;
  --color-lime-100: #ecfcca;
  --color-lime-200: #d8f999;
  --color-lime-300: #bbf451;
  --color-lime-400: #9de500;
  --color-lime-500: #80cd00;
  --color-lime-600: #62a400;
  --color-lime-700: #4b7d00;
  --color-lime-800: #3d6300;
  --color-lime-900: #35530e;
  --color-lime-950: #192e03;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #b9f8cf;
  --color-green-300: #7bf1a8;
  --color-green-400: #05df72;
  --color-green-500: #00c758;
  --color-green-600: #00a544;
  --color-green-700: #008138;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d0fae5;
  --color-emerald-200: #a4f4cf;
  --color-emerald-300: #5ee9b5;
  --color-emerald-400: #00d294;
  --color-emerald-500: #00bb7f;
  --color-emerald-600: #009767;
  --color-emerald-700: #007956;
  --color-emerald-800: #005f46;
  --color-emerald-900: #004e3b;
  --color-emerald-950: #002c22;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #cbfbf1;
  --color-teal-200: #96f7e4;
  --color-teal-300: #46ecd5;
  --color-teal-400: #00d3bd;
  --color-teal-500: #00baa7;
  --color-teal-600: #009588;
  --color-teal-700: #00776e;
  --color-teal-800: #005f5a;
  --color-teal-900: #0b4f4a;
  --color-teal-950: #022f2e;
  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cefafe;
  --color-cyan-200: #a2f4fd;
  --color-cyan-300: #53eafd;
  --color-cyan-400: #00d2ef;
  --color-cyan-500: #00b7d7;
  --color-cyan-600: #0092b5;
  --color-cyan-700: #007492;
  --color-cyan-800: #005f78;
  --color-cyan-900: #104e64;
  --color-cyan-950: #053345;
  --color-sky-50: #f0f9ff;
  --color-sky-100: #dff2fe;
  --color-sky-200: #b8e6fe;
  --color-sky-300: #77d4ff;
  --color-sky-400: #00bcfe;
  --color-sky-500: #00a5ef;
  --color-sky-600: #0084cc;
  --color-sky-700: #0069a4;
  --color-sky-800: #005986;
  --color-sky-900: #024a70;
  --color-sky-950: #052f4a;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bedbff;
  --color-blue-300: #90c5ff;
  --color-blue-400: #54a2ff;
  --color-blue-500: #3080ff;
  --color-blue-600: #155dfc;
  --color-blue-700: #1447e6;
  --color-blue-800: #193cb8;
  --color-blue-900: #1c398e;
  --color-blue-950: #162456;
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2ff;
  --color-indigo-300: #a4b3ff;
  --color-indigo-400: #7d87ff;
  --color-indigo-500: #625fff;
  --color-indigo-600: #4f39f6;
  --color-indigo-700: #432dd7;
  --color-indigo-800: #372aac;
  --color-indigo-900: #312c85;
  --color-indigo-950: #1e1a4d;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-200: #ddd6ff;
  --color-violet-300: #c4b4ff;
  --color-violet-400: #a685ff;
  --color-violet-500: #8d54ff;
  --color-violet-600: #7f22fe;
  --color-violet-700: #7008e7;
  --color-violet-800: #5d0ec0;
  --color-violet-900: #4d179a;
  --color-violet-950: #2f0d68;
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d9b3ff;
  --color-purple-400: #c07eff;
  --color-purple-500: #ac4bff;
  --color-purple-600: #9810fa;
  --color-purple-700: #8200da;
  --color-purple-800: #6e11b0;
  --color-purple-900: #59168b;
  --color-purple-950: #3c0366;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-200: #f6cfff;
  --color-fuchsia-300: #f2a9ff;
  --color-fuchsia-400: #ec6cff;
  --color-fuchsia-500: #e12afb;
  --color-fuchsia-600: #c600db;
  --color-fuchsia-700: #a600b5;
  --color-fuchsia-800: #8a0194;
  --color-fuchsia-900: #721378;
  --color-fuchsia-950: #4b004f;
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fccee8;
  --color-pink-300: #fda5d5;
  --color-pink-400: #fb64b6;
  --color-pink-500: #f6339a;
  --color-pink-600: #e30076;
  --color-pink-700: #c4005c;
  --color-pink-800: #a2004c;
  --color-pink-900: #861043;
  --color-pink-950: #510424;
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #ffccd3;
  --color-rose-300: #ffa2ae;
  --color-rose-400: #ff667f;
  --color-rose-500: #ff2357;
  --color-rose-600: #e70044;
  --color-rose-700: #c20039;
  --color-rose-800: #a30037;
  --color-rose-900: #8b0836;
  --color-rose-950: #4d0218;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cad5e2;
  --color-slate-400: #90a1b9;
  --color-slate-500: #62748e;
  --color-slate-600: #45556c;
  --color-slate-700: #314158;
  --color-slate-800: #1d293d;
  --color-slate-900: #0f172b;
  --color-slate-950: #020618;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5dc;
  --color-gray-400: #99a1af;
  --color-gray-500: #6a7282;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-gray-900: #101828;
  --color-gray-950: #030712;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #9f9fa9;
  --color-zinc-500: #71717b;
  --color-zinc-600: #52525c;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a6a09b;
  --color-stone-500: #79716b;
  --color-stone-600: #57534d;
  --color-stone-700: #44403b;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;
  --color-black: #000;
  --color-white: #fff;
  --spacing: .25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --text-xs: .75rem;
  --text-xs--line-height: calc(1 / .75);
  --text-sm: .875rem;
  --text-sm--line-height: calc(1.25 / .875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --tracking-tighter: -.05em;
  --tracking-tight: -.025em;
  --tracking-normal: 0em;
  --tracking-wide: .025em;
  --tracking-wider: .05em;
  --tracking-widest: .1em;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --radius-xs: .125rem;
  --radius-sm: calc(var(--radius)  - 4px);
  --radius-md: calc(var(--radius)  - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius)  + 4px);
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-rounded: 3.40282e38px;
  --shadow-2xs: 0 1px rgba(0, 0, 0, .05);
  --shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, .05);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, .25);
  --inset-shadow-2xs: inset 0 1px rgba(0, 0, 0, .05);
  --inset-shadow-xs: inset 0 1px 1px rgba(0, 0, 0, .05);
  --inset-shadow-sm: inset 0 2px 4px rgba(0, 0, 0, .05);
  --drop-shadow-xs: 0 1px 1px rgba(0, 0, 0, .05);
  --drop-shadow-sm: 0 1px 2px rgba(0, 0, 0, .15);
  --drop-shadow-md: 0 3px 3px rgba(0, 0, 0, .12);
  --drop-shadow-lg: 0 4px 4px rgba(0, 0, 0, .15);
  --drop-shadow-xl: 0 9px 7px rgba(0, 0, 0, .1);
  --drop-shadow-2xl: 0 25px 25px rgba(0, 0, 0, .15);
  --text-shadow-2xs: 0px 1px 0px rgba(0, 0, 0, .15);
  --text-shadow-xs: 0px 1px 1px rgba(0, 0, 0, .2);
  --text-shadow-sm: 0px 1px 0px rgba(0, 0, 0, .075), 0px 1px 1px rgba(0, 0, 0, .075), 0px 2px 2px rgba(0, 0, 0, .075);
  --text-shadow-md: 0px 1px 1px rgba(0, 0, 0, .1), 0px 1px 2px rgba(0, 0, 0, .1), 0px 2px 4px rgba(0, 0, 0, .1);
  --text-shadow-lg: 0px 1px 2px rgba(0, 0, 0, .1), 0px 3px 2px rgba(0, 0, 0, .1), 0px 4px 8px rgba(0, 0, 0, .1);
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --aspect-video: 16 / 9;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --animation-delay-0: 0s;
  --animation-delay-75: 75ms;
  --animation-delay-100: .1s;
  --animation-delay-150: .15s;
  --animation-delay-200: .2s;
  --animation-delay-300: .3s;
  --animation-delay-500: .5s;
  --animation-delay-700: .7s;
  --animation-delay-1000: 1s;
  --animate-in: fade-in;
  --animate-out: fade-out;
  --animate-accordion-down: accordion-down;
  --animate-accordion-up: accordion-up;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-slide-top: fade-in, zoom-in, slide-in-from-bottom;
  --animate-slide-bottom: fade-in, zoom-in, slide-in-from-top;
  --animate-slide-left: fade-in, zoom-in, slide-in-from-right;
  --animate-slide-right: fade-in, zoom-in, slide-in-from-left;
  --animate-alert-dialog-in: fade-in, zoom-in;
  --animate-alert-dialog-out: fade-out, zoom-out;
  --animate-fade-zoom-in: fade-in, zoom-in;
  --animate-fade-zoom-out: fade-out, zoom-out;
  --animate-navigation-from-start: fade-in, zoom-in, slide-in-from-left-52;
  --animate-navigation-from-end: fade-in, zoom-in, slide-in-from-right-52;
  --animate-navigation-to-start: fade-in, zoom-in, slide-in-to-left-52;
  --animate-navigation-to-end: fade-in, zoom-in, slide-in-to-right-52;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --color-red-50: color(display-p3 .988669 .951204 .950419);
    --color-red-100: color(display-p3 .980386 .889727 .887779);
    --color-red-200: color(display-p3 .969562 .798149 .794299);
    --color-red-300: color(display-p3 .956922 .651886 .645122);
    --color-red-400: color(display-p3 .933534 .431676 .423491);
    --color-red-500: color(display-p3 .903738 .262579 .253307);
    --color-red-600: color(display-p3 .830323 .140383 .133196);
    --color-red-700: color(display-p3 .692737 .116232 .104679);
    --color-red-800: color(display-p3 .569606 .121069 .108493);
    --color-red-900: color(display-p3 .466906 .133198 .12139);
    --color-red-950: color(display-p3 .25064 .0550983 .0468818);
    --color-orange-50: color(display-p3 .99533 .970132 .933499);
    --color-orange-100: color(display-p3 .988762 .931393 .843273);
    --color-orange-200: color(display-p3 .974647 .84705 .680111);
    --color-orange-300: color(display-p3 .96801 .734346 .464159);
    --color-orange-400: color(display-p3 .950192 .561807 .211017);
    --color-orange-500: color(display-p3 .946589 .449788 .0757345);
    --color-orange-600: color(display-p3 .887467 .341665 .0219962);
    --color-orange-700: color(display-p3 .729844 .257256 .0511062);
    --color-orange-800: color(display-p3 .575591 .21198 .082665);
    --color-orange-900: color(display-p3 .457137 .188093 .0897628);
    --color-orange-950: color(display-p3 .244276 .0875626 .0387614);
    --color-amber-50: color(display-p3 .997804 .985047 .926312);
    --color-amber-100: color(display-p3 .989391 .954583 .796328);
    --color-amber-200: color(display-p3 .979824 .904554 .57325);
    --color-amber-300: color(display-p3 .974327 .83063 .33298);
    --color-amber-400: color(display-p3 .959186 .738519 .118268);
    --color-amber-500: color(display-p3 .93994 .620584 .0585367);
    --color-amber-600: color(display-p3 .827144 .467166 .0336006);
    --color-amber-700: color(display-p3 .67989 .32771 .0520514);
    --color-amber-800: color(display-p3 .547533 .256058 .0728326);
    --color-amber-900: color(display-p3 .445958 .216422 .0823321);
    --color-amber-950: color(display-p3 .252662 .109091 .026881);
    --color-yellow-50: color(display-p3 .994197 .988062 .917538);
    --color-yellow-100: color(display-p3 .993436 .977463 .782913);
    --color-yellow-200: color(display-p3 .988789 .943116 .579188);
    --color-yellow-300: color(display-p3 .982669 .880884 .32102);
    --color-yellow-400: color(display-p3 .959941 .790171 .0585198);
    --color-yellow-500: color(display-p3 .903651 .703062 .0745389);
    --color-yellow-600: color(display-p3 .776342 .542492 .041709);
    --color-yellow-700: color(display-p3 .613146 .386658 .0579687);
    --color-yellow-800: color(display-p3 .503181 .30478 .075537);
    --color-yellow-900: color(display-p3 .422485 .252729 .095052);
    --color-yellow-950: color(display-p3 .243647 .131076 .0413888);
    --color-lime-50: color(display-p3 .973995 .995624 .914278);
    --color-lime-100: color(display-p3 .936811 .986772 .81208);
    --color-lime-200: color(display-p3 .872841 .974338 .642611);
    --color-lime-300: color(display-p3 .778594 .948857 .421857);
    --color-lime-400: color(display-p3 .66872 .893772 .208808);
    --color-lime-500: color(display-p3 .5627 .801803 .131231);
    --color-lime-600: color(display-p3 .435354 .640614 .0909333);
    --color-lime-700: color(display-p3 .333353 .486326 .0944279);
    --color-lime-800: color(display-p3 .271455 .384177 .0975063);
    --color-lime-900: color(display-p3 .233682 .324055 .105897);
    --color-lime-950: color(display-p3 .117864 .17918 .0379316);
    --color-green-50: color(display-p3 .950677 .990571 .959366);
    --color-green-100: color(display-p3 .885269 .984329 .910368);
    --color-green-200: color(display-p3 .776442 .964383 .823412);
    --color-green-300: color(display-p3 .600292 .935514 .68114);
    --color-green-400: color(display-p3 .399536 .862346 .49324);
    --color-green-500: color(display-p3 .308734 .774754 .374307);
    --color-green-600: color(display-p3 .243882 .640824 .294808);
    --color-green-700: color(display-p3 .198355 .501799 .245335);
    --color-green-800: color(display-p3 .168568 .395123 .211217);
    --color-green-900: color(display-p3 .147288 .323577 .185694);
    --color-green-950: color(display-p3 .0670178 .177818 .0930111);
    --color-emerald-50: color(display-p3 .936818 .989882 .961937);
    --color-emerald-100: color(display-p3 .848335 .975974 .901691);
    --color-emerald-200: color(display-p3 .713164 .947563 .822283);
    --color-emerald-300: color(display-p3 .524941 .903425 .722352);
    --color-emerald-400: color(display-p3 .334701 .819603 .591575);
    --color-emerald-500: color(display-p3 .267113 .726847 .508397);
    --color-emerald-600: color(display-p3 .206557 .589057 .413962);
    --color-emerald-700: color(display-p3 .164041 .470229 .343508);
    --color-emerald-800: color(display-p3 .135396 .371401 .277561);
    --color-emerald-900: color(display-p3 .117821 .302975 .234501);
    --color-emerald-950: color(display-p3 .0549113 .170434 .13484);
    --color-teal-50: color(display-p3 .951444 .990904 .98112);
    --color-teal-100: color(display-p3 .834533 .980328 .946428);
    --color-teal-200: color(display-p3 .675869 .957879 .896029);
    --color-teal-300: color(display-p3 .484989 .914726 .835079);
    --color-teal-400: color(display-p3 .322787 .822056 .744388);
    --color-teal-500: color(display-p3 .266569 .721518 .655462);
    --color-teal-600: color(display-p3 .207114 .579584 .53668);
    --color-teal-700: color(display-p3 .174094 .461318 .433866);
    --color-teal-800: color(display-p3 .1457 .367051 .350749);
    --color-teal-900: color(display-p3 .135344 .303314 .290629);
    --color-teal-950: color(display-p3 .0664925 .181482 .179465);
    --color-cyan-50: color(display-p3 .938135 .993772 .998465);
    --color-cyan-100: color(display-p3 .843085 .97553 .992573);
    --color-cyan-200: color(display-p3 .707418 .947027 .984826);
    --color-cyan-300: color(display-p3 .503734 .904871 .979358);
    --color-cyan-400: color(display-p3 .294638 .813991 .934996);
    --color-cyan-500: color(display-p3 .246703 .710032 .841444);
    --color-cyan-600: color(display-p3 .193249 .564651 .707197);
    --color-cyan-700: color(display-p3 .164124 .451431 .570574);
    --color-cyan-800: color(display-p3 .151437 .365208 .461053);
    --color-cyan-900: color(display-p3 .142586 .302008 .385094);
    --color-cyan-950: color(display-p3 .0805271 .197254 .263206);
    --color-sky-50: color(display-p3 .946501 .975402 .998336);
    --color-sky-100: color(display-p3 .889195 .946622 .992447);
    --color-sky-200: color(display-p3 .758153 .897447 .986665);
    --color-sky-300: color(display-p3 .546356 .822561 .990576);
    --color-sky-400: color(display-p3 .305975 .725011 .980173);
    --color-sky-500: color(display-p3 .219113 .639027 .931479);
    --color-sky-600: color(display-p3 .162505 .509376 .796082);
    --color-sky-700: color(display-p3 .130314 .404568 .640847);
    --color-sky-800: color(display-p3 .120719 .343083 .524405);
    --color-sky-900: color(display-p3 .115471 .285486 .428673);
    --color-sky-950: color(display-p3 .0726429 .180783 .28188);
    --color-blue-50: color(display-p3 .941826 .963151 .995385);
    --color-blue-100: color(display-p3 .869214 .915931 .989622);
    --color-blue-200: color(display-p3 .76688 .855207 .987483);
    --color-blue-300: color(display-p3 .602559 .767214 .993938);
    --color-blue-400: color(display-p3 .397443 .62813 .992116);
    --color-blue-500: color(display-p3 .266422 .491219 .988624);
    --color-blue-600: color(display-p3 .174493 .358974 .950247);
    --color-blue-700: color(display-p3 .1379 .274983 .867624);
    --color-blue-800: color(display-p3 .134023 .230647 .695537);
    --color-blue-900: color(display-p3 .136395 .219428 .537145);
    --color-blue-950: color(display-p3 .0993202 .141621 .323413);
    --color-indigo-50: color(display-p3 .936215 .948621 .995621);
    --color-indigo-100: color(display-p3 .883035 .90499 .993138);
    --color-indigo-200: color(display-p3 .786558 .821755 .988451);
    --color-indigo-300: color(display-p3 .650892 .700156 .990824);
    --color-indigo-400: color(display-p3 .494992 .525291 .985107);
    --color-indigo-500: color(display-p3 .380374 .372235 .971707);
    --color-indigo-600: color(display-p3 .297656 .227891 .929242);
    --color-indigo-700: color(display-p3 .251282 .180274 .81203);
    --color-indigo-800: color(display-p3 .207204 .165242 .647584);
    --color-indigo-900: color(display-p3 .188425 .173312 .503066);
    --color-indigo-950: color(display-p3 .114685 .103142 .289065);
    --color-violet-50: color(display-p3 .959212 .95304 .995713);
    --color-violet-100: color(display-p3 .926222 .913546 .990178);
    --color-violet-200: color(display-p3 .861543 .838846 .988006);
    --color-violet-300: color(display-p3 .758872 .706261 .991729);
    --color-violet-400: color(display-p3 .631215 .522175 .990008);
    --color-violet-500: color(display-p3 .523372 .329605 .990884);
    --color-violet-600: color(display-p3 .459951 .162666 .957985);
    --color-violet-700: color(display-p3 .40161 .0841901 .871151);
    --color-violet-800: color(display-p3 .333914 .0857549 .723825);
    --color-violet-900: color(display-p3 .277841 .103712 .580169);
    --color-violet-950: color(display-p3 .166776 .0591626 .389813);
    --color-purple-50: color(display-p3 .977045 .961759 .996715);
    --color-purple-100: color(display-p3 .945034 .910569 .992972);
    --color-purple-200: color(display-p3 .901181 .835978 .992237);
    --color-purple-300: color(display-p3 .829394 .703737 .996084);
    --color-purple-400: color(display-p3 .719919 .492497 .995173);
    --color-purple-500: color(display-p3 .629519 .30089 .990817);
    --color-purple-600: color(display-p3 .546729 .130167 .94439);
    --color-purple-700: color(display-p3 .465298 .0652579 .824397);
    --color-purple-800: color(display-p3 .393513 .10339 .664476);
    --color-purple-900: color(display-p3 .321698 .107597 .524563);
    --color-purple-950: color(display-p3 .212466 .030662 .385137);
    --color-fuchsia-50: color(display-p3 .985378 .957946 .995991);
    --color-fuchsia-100: color(display-p3 .969181 .911466 .995042);
    --color-fuchsia-200: color(display-p3 .939526 .818938 .987975);
    --color-fuchsia-300: color(display-p3 .91137 .670052 .986215);
    --color-fuchsia-400: color(display-p3 .86677 .447756 .979034);
    --color-fuchsia-500: color(display-p3 .81268 .241966 .951571);
    --color-fuchsia-600: color(display-p3 .716587 .083681 .841036);
    --color-fuchsia-700: color(display-p3 .601715 .077561 .692792);
    --color-fuchsia-800: color(display-p3 .49483 .0920344 .561488);
    --color-fuchsia-900: color(display-p3 .41021 .112087 .453633);
    --color-fuchsia-950: color(display-p3 .26664 .0315437 .299074);
    --color-pink-50: color(display-p3 .983916 .950076 .970581);
    --color-pink-100: color(display-p3 .974549 .908208 .950227);
    --color-pink-200: color(display-p3 .95913 .815822 .905269);
    --color-pink-300: color(display-p3 .944378 .662026 .8283);
    --color-pink-400: color(display-p3 .915485 .430491 .70271);
    --color-pink-500: color(display-p3 .88894 .276457 .595049);
    --color-pink-600: color(display-p3 .825649 .141205 .459338);
    --color-pink-700: color(display-p3 .711537 .101006 .358209);
    --color-pink-800: color(display-p3 .584151 .105343 .297396);
    --color-pink-900: color(display-p3 .480862 .117563 .26009);
    --color-pink-950: color(display-p3 .289266 .0492215 .139542);
    --color-rose-50: color(display-p3 .989671 .946597 .949215);
    --color-rose-100: color(display-p3 .982241 .897232 .902568);
    --color-rose-200: color(display-p3 .96875 .808776 .827317);
    --color-rose-300: color(display-p3 .96017 .647703 .683715);
    --color-rose-400: color(display-p3 .942928 .430764 .503101);
    --color-rose-500: color(display-p3 .921824 .240748 .355666);
    --color-rose-600: color(display-p3 .848792 .102011 .269259);
    --color-rose-700: color(display-p3 .711801 .0770816 .226777);
    --color-rose-800: color(display-p3 .591248 .0929065 .220097);
    --color-rose-900: color(display-p3 .498064 .104884 .214595);
    --color-rose-950: color(display-p3 .275407 .0406065 .0990695);
    --color-slate-50: color(display-p3 .974377 .979815 .986207);
    --color-slate-100: color(display-p3 .947345 .959969 .97483);
    --color-slate-200: color(display-p3 .890322 .909405 .939294);
    --color-slate-300: color(display-p3 .800294 .834432 .882803);
    --color-slate-400: color(display-p3 .577446 .629622 .716602);
    --color-slate-500: color(display-p3 .397645 .452653 .547642);
    --color-slate-600: color(display-p3 .283418 .332214 .416355);
    --color-slate-700: color(display-p3 .205992 .253487 .336039);
    --color-slate-800: color(display-p3 .121994 .158688 .232363);
    --color-slate-900: color(display-p3 .0639692 .0891152 .163036);
    --color-slate-950: color(display-p3 .0102437 .0227555 .0878731);
    --color-gray-50: color(display-p3 .977213 .98084 .985102);
    --color-gray-100: color(display-p3 .953567 .956796 .964321);
    --color-gray-200: color(display-p3 .899787 .906171 .92106);
    --color-gray-300: color(display-p3 .822033 .835264 .858521);
    --color-gray-400: color(display-p3 .605734 .630385 .680158);
    --color-gray-500: color(display-p3 .421287 .446085 .504784);
    --color-gray-600: color(display-p3 .297358 .332176 .39043);
    --color-gray-700: color(display-p3 .219968 .253721 .318679);
    --color-gray-800: color(display-p3 .125854 .159497 .216835);
    --color-gray-900: color(display-p3 .070423 .0928982 .151928);
    --color-gray-950: color(display-p3 .0144294 .0270755 .068534);
    --color-zinc-50: color(display-p3 .980256 .980256 .980256);
    --color-zinc-100: color(display-p3 .956385 .956385 .959079);
    --color-zinc-200: color(display-p3 .894477 .894477 .905114);
    --color-zinc-300: color(display-p3 .831087 .831083 .846819);
    --color-zinc-400: color(display-p3 .622604 .622563 .659842);
    --color-zinc-500: color(display-p3 .442983 .442931 .480324);
    --color-zinc-600: color(display-p3 .321166 .321093 .358668);
    --color-zinc-700: color(display-p3 .246478 .246448 .273934);
    --color-zinc-800: color(display-p3 .152895 .152887 .16466);
    --color-zinc-900: color(display-p3 .0937957 .093793 .104806);
    --color-zinc-950: color(display-p3 .0353716 .0353595 .0435539);
    --color-neutral-50: color(display-p3 .980256 .980256 .980256);
    --color-neutral-100: color(display-p3 .960587 .960587 .960587);
    --color-neutral-200: color(display-p3 .898161 .898161 .898161);
    --color-neutral-300: color(display-p3 .831444 .831444 .831444);
    --color-neutral-400: color(display-p3 .630163 .630163 .630163);
    --color-neutral-500: color(display-p3 .451519 .451519 .451519);
    --color-neutral-600: color(display-p3 .321993 .321993 .321993);
    --color-neutral-700: color(display-p3 .250471 .250471 .250471);
    --color-neutral-800: color(display-p3 .149382 .149382 .149382);
    --color-neutral-900: color(display-p3 .0905274 .0905274 .0905274);
    --color-neutral-950: color(display-p3 .0393882 .0393882 .0393882);
    --color-stone-50: color(display-p3 .980533 .980533 .977827);
    --color-stone-100: color(display-p3 .960863 .960863 .958167);
    --color-stone-200: color(display-p3 .905089 .897839 .893512);
    --color-stone-300: color(display-p3 .838762 .827967 .81946);
    --color-stone-400: color(display-p3 .647628 .627105 .61098);
    --color-stone-500: color(display-p3 .467445 .443064 .42264);
    --color-stone-600: color(display-p3 .339543 .325291 .304619);
    --color-stone-700: color(display-p3 .265384 .251047 .234362);
    --color-stone-800: color(display-p3 .158674 .144808 .140558);
    --color-stone-900: color(display-p3 .107549 .0983899 .0912386);
    --color-stone-950: color(display-p3 .0456693 .0396228 .0360228);
  }
}

@supports (color: lab(0% 0 0)) {
  :root {
    --color-red-50: lab(96.5005% 4.18508 1.52328);
    --color-red-100: lab(92.243% 10.2865 3.83865);
    --color-red-200: lab(86.017% 19.8815 7.75869);
    --color-red-300: lab(76.5514% 36.422 15.5335);
    --color-red-400: lab(63.7053% 60.745 31.3109);
    --color-red-500: lab(55.4814% 75.0732 48.8528);
    --color-red-600: lab(48.4493% 77.4328 61.5452);
    --color-red-700: lab(40.4273% 67.2623 53.7441);
    --color-red-800: lab(33.7174% 55.8993 41.0293);
    --color-red-900: lab(28.5139% 44.5539 29.0463);
    --color-red-950: lab(13.003% 29.04 16.7519);
    --color-orange-50: lab(97.7008% 1.53735 5.90649);
    --color-orange-100: lab(94.7127% 3.58394 14.3151);
    --color-orange-200: lab(88.4871% 9.94918 28.8378);
    --color-orange-300: lab(80.8059% 21.7313 50.4455);
    --color-orange-400: lab(70.0429% 42.5156 75.8207);
    --color-orange-500: lab(64.272% 57.1788 90.3583);
    --color-orange-600: lab(57.1026% 64.2584 89.8886);
    --color-orange-700: lab(46.4615% 57.7275 70.8507);
    --color-orange-800: lab(37.1566% 46.6433 50.5562);
    --color-orange-900: lab(30.2951% 36.0434 37.671);
    --color-orange-950: lab(14.1747% 23.4515 19.4461);
    --color-amber-50: lab(98.6252% -.635922 8.42309);
    --color-amber-100: lab(95.916% -1.21653 23.111);
    --color-amber-200: lab(91.7203% -.505269 49.9084);
    --color-amber-300: lab(86.4156% 6.13147 78.3961);
    --color-amber-400: lab(80.1641% 16.6016 99.2089);
    --color-amber-500: lab(72.7183% 31.8672 97.9407);
    --color-amber-600: lab(60.3514% 40.5624 87.1228);
    --color-amber-700: lab(47.2709% 42.9082 69.2966);
    --color-amber-800: lab(37.8822% 37.1699 52.2718);
    --color-amber-900: lab(31.2288% 30.2627 40.0378);
    --color-amber-950: lab(15.8111% 20.9107 23.3752);
    --color-yellow-50: lab(98.6846% -1.79055 9.7766);
    --color-yellow-100: lab(97.3564% -4.51407 27.344);
    --color-yellow-200: lab(94.3433% -5.00429 52.9663);
    --color-yellow-300: lab(89.7033% -.480294 84.4917);
    --color-yellow-400: lab(83.2664% 8.65132 106.895);
    --color-yellow-500: lab(76.3898% 14.5258 98.4589);
    --color-yellow-600: lab(62.7799% 22.4197 86.1544);
    --color-yellow-700: lab(47.8202% 25.2426 66.5015);
    --color-yellow-800: lab(38.7484% 23.5833 51.4916);
    --color-yellow-900: lab(32.3865% 21.1273 38.5959);
    --color-yellow-950: lab(16.8146% 15.7422 23.1133);
    --color-lime-50: lab(98.7039% -5.32573 10.2149);
    --color-lime-100: lab(96.8662% -11.7133 22.0854);
    --color-lime-200: lab(94.0718% -22.5338 42.5238);
    --color-lime-300: lab(89.9218% -35.6546 68.5254);
    --color-lime-400: lab(83.7876% -45.0447 88.4738);
    --color-lime-500: lab(75.3197% -46.6547 86.1778);
    --color-lime-600: lab(61.1055% -41.0235 73.1483);
    --color-lime-700: lab(47.246% -32.2589 55.8249);
    --color-lime-800: lab(37.7655% -25.1694 43.0683);
    --color-lime-900: lab(31.9931% -20.7654 33.7379);
    --color-lime-950: lab(16.5113% -15.1841 22.0145);
    --color-green-50: lab(98.1563% -5.60117 2.75915);
    --color-green-100: lab(96.1861% -13.8464 6.52365);
    --color-green-200: lab(92.4222% -26.4702 12.9427);
    --color-green-300: lab(86.9953% -47.2691 25.0054);
    --color-green-400: lab(78.503% -64.9265 39.7492);
    --color-green-500: lab(70.5521% -66.5147 45.8073);
    --color-green-600: lab(59.0978% -58.6621 41.2579);
    --color-green-700: lab(47.0329% -47.0239 31.4788);
    --color-green-800: lab(37.4616% -36.7971 22.9692);
    --color-green-900: lab(30.797% -29.6927 17.382);
    --color-green-950: lab(15.6845% -20.4225 11.7249);
    --color-emerald-50: lab(97.8462% -6.94966 1.85487);
    --color-emerald-100: lab(94.9004% -17.0769 5.63836);
    --color-emerald-200: lab(90.2247% -31.039 9.47084);
    --color-emerald-300: lab(83.9203% -48.7124 13.8849);
    --color-emerald-400: lab(75.0771% -60.7313 19.4147);
    --color-emerald-500: lab(66.9756% -58.27 19.5419);
    --color-emerald-600: lab(55.0481% -49.9246 15.93);
    --color-emerald-700: lab(44.4871% -41.0396 11.0361);
    --color-emerald-800: lab(35.3675% -33.1188 8.04002);
    --color-emerald-900: lab(28.8637% -26.9249 5.45986);
    --color-emerald-950: lab(15.0582% -17.9507 2.38369);
    --color-teal-50: lab(98.3189% -4.74921 -.111711);
    --color-teal-100: lab(95.1845% -17.4212 -.425422);
    --color-teal-200: lab(90.7612% -33.1343 -.542295);
    --color-teal-300: lab(84.8977% -48.1516 -1.3321);
    --color-teal-400: lab(76.0109% -53.3483 -2.27906);
    --color-teal-500: lab(67.3859% -49.0983 -2.63511);
    --color-teal-600: lab(55.0223% -41.0774 -3.90277);
    --color-teal-700: lab(44.4134% -33.1436 -4.22149);
    --color-teal-800: lab(35.5975% -26.6648 -4.34487);
    --color-teal-900: lab(29.506% -21.4706 -3.59886);
    --color-teal-950: lab(16.6371% -15.3183 -3.81732);
    --color-cyan-50: lab(98.3304% -5.97432 -2.62108);
    --color-cyan-100: lab(95.3146% -13.8285 -6.84732);
    --color-cyan-200: lab(91.0821% -24.0435 -12.8306);
    --color-cyan-300: lab(85.3886% -36.7636 -21.5716);
    --color-cyan-400: lab(76.6045% -40.9406 -29.6231);
    --color-cyan-500: lab(67.805% -35.3952 -30.2018);
    --color-cyan-600: lab(55.1767% -26.7496 -30.5139);
    --color-cyan-700: lab(44.7267% -21.5987 -26.118);
    --color-cyan-800: lab(36.5114% -17.1989 -21.6292);
    --color-cyan-900: lab(30.372% -13.1853 -18.7887);
    --color-cyan-950: lab(19.1528% -9.68757 -15.5267);
    --color-sky-50: lab(97.3623% -2.33802 -4.13098);
    --color-sky-100: lab(94.3709% -4.56053 -8.23453);
    --color-sky-200: lab(88.6983% -11.3978 -16.8488);
    --color-sky-300: lab(80.3307% -20.2945 -31.385);
    --color-sky-400: lab(70.687% -23.6078 -45.9483);
    --color-sky-500: lab(63.3038% -18.433 -51.0407);
    --color-sky-600: lab(51.7754% -11.4712 -49.8349);
    --color-sky-700: lab(41.6013% -9.10804 -42.5647);
    --color-sky-800: lab(35.164% -9.57692 -34.4068);
    --color-sky-900: lab(29.1959% -8.34689 -28.2453);
    --color-sky-950: lab(17.8299% -5.31271 -21.1584);
    --color-blue-50: lab(96.492% -1.14644 -5.11479);
    --color-blue-100: lab(92.0301% -2.24757 -11.6453);
    --color-blue-200: lab(86.15% -4.04379 -21.0797);
    --color-blue-300: lab(77.5052% -6.4629 -36.42);
    --color-blue-400: lab(65.0361% -1.42065 -56.9802);
    --color-blue-500: lab(54.1736% 13.3369 -74.6839);
    --color-blue-600: lab(44.0605% 29.0279 -86.0352);
    --color-blue-700: lab(36.9089% 35.0961 -85.6872);
    --color-blue-800: lab(30.2514% 27.7853 -70.2699);
    --color-blue-900: lab(26.1542% 15.7545 -51.5504);
    --color-blue-950: lab(15.6723% 8.86232 -32.2945);
    --color-indigo-50: lab(95.4818% .411302 -6.78529);
    --color-indigo-100: lab(91.6577% 1.04591 -12.7199);
    --color-indigo-200: lab(84.4329% 3.18977 -23.9688);
    --color-indigo-300: lab(74.0235% 8.54138 -41.6075);
    --color-indigo-400: lab(59.866% 22.4834 -64.4485);
    --color-indigo-500: lab(48.295% 38.3129 -81.9673);
    --color-indigo-600: lab(38.4009% 52.6132 -92.3857);
    --color-indigo-700: lab(32.4486% 49.2217 -84.6695);
    --color-indigo-800: lab(26.6645% 37.9804 -68.6402);
    --color-indigo-900: lab(23.3911% 24.6978 -50.4718);
    --color-indigo-950: lab(12.4853% 14.9672 -31.3418);
    --color-violet-50: lab(96.2416% 2.28849 -5.51657);
    --color-violet-100: lab(93.0838% 4.35197 -9.88284);
    --color-violet-200: lab(87.0888% 8.53688 -19.4189);
    --color-violet-300: lab(76.7419% 18.3911 -37.0706);
    --color-violet-400: lab(62.8239% 34.9159 -60.0512);
    --color-violet-500: lab(49.9355% 55.1776 -81.8963);
    --color-violet-600: lab(41.088% 68.9966 -91.995);
    --color-violet-700: lab(35.2783% 67.9912 -88.793);
    --color-violet-800: lab(29.3188% 57.7986 -76.1493);
    --color-violet-900: lab(24.3783% 45.7525 -61.4902);
    --color-violet-950: lab(14.0706% 33.3353 -46.7553);
    --color-purple-50: lab(97.1627% 2.99937 -4.13398);
    --color-purple-100: lab(93.3333% 6.97437 -9.83434);
    --color-purple-200: lab(87.8405% 13.4282 -18.7159);
    --color-purple-300: lab(78.3298% 26.2195 -34.9499);
    --color-purple-400: lab(63.6946% 47.6127 -59.2066);
    --color-purple-500: lab(52.0183% 66.11 -78.2316);
    --color-purple-600: lab(43.0295% 75.21 -86.5669);
    --color-purple-700: lab(36.1758% 69.8525 -80.0381);
    --color-purple-800: lab(30.6017% 56.7637 -64.4751);
    --color-purple-900: lab(24.9401% 45.2703 -51.2728);
    --color-purple-950: lab(14.8253% 38.9005 -44.5861);
    --color-fuchsia-50: lab(97.1083% 4.46233 -4.09334);
    --color-fuchsia-100: lab(93.9419% 9.57647 -9.08735);
    --color-fuchsia-200: lab(87.7108% 19.9958 -18.2054);
    --color-fuchsia-300: lab(78.5378% 39.3533 -32.9615);
    --color-fuchsia-400: lab(66.1178% 66.0652 -52.4733);
    --color-fuchsia-500: lab(56.4256% 83.132 -64.639);
    --color-fuchsia-600: lab(47.5131% 83.4271 -63.0363);
    --color-fuchsia-700: lab(39.787% 72.2653 -53.1244);
    --color-fuchsia-800: lab(32.904% 60.2883 -43.6569);
    --color-fuchsia-900: lab(27.755% 48.6174 -34.3553);
    --color-fuchsia-950: lab(15.7348% 39.0235 -27.4073);
    --color-pink-50: lab(96.4459% 4.53997 -1.49434);
    --color-pink-100: lab(93.5864% 9.01193 -3.15079);
    --color-pink-200: lab(87.4504% 19.6 -6.46662);
    --color-pink-300: lab(77.8308% 38.525 -10.5394);
    --color-pink-400: lab(64.5597% 64.3615 -12.7988);
    --color-pink-500: lab(56.9303% 76.8162 -8.07021);
    --color-pink-600: lab(49.5493% 79.8381 2.31768);
    --color-pink-700: lab(42.1737% 71.8009 7.42233);
    --color-pink-800: lab(34.9559% 60.2885 5.99639);
    --color-pink-900: lab(29.4367% 49.3962 3.35757);
    --color-pink-950: lab(15.6116% 35.2166 3.53979);
    --color-rose-50: lab(96.2369% 4.94155 1.28011);
    --color-rose-100: lab(92.8221% 9.86832 2.60075);
    --color-rose-200: lab(86.806% 19.1909 4.07754);
    --color-rose-300: lab(76.6339% 38.3549 9.68835);
    --color-rose-400: lab(64.4125% 63.0291 19.2068);
    --color-rose-500: lab(56.101% 79.4328 31.4532);
    --color-rose-600: lab(49.1882% 81.577 36.0311);
    --color-rose-700: lab(41.1651% 71.6251 30.3087);
    --color-rose-800: lab(34.6481% 60.802 20.1957);
    --color-rose-900: lab(29.7104% 51.514 12.6253);
    --color-rose-950: lab(14.2323% 34.0086 9.80922);
    --color-slate-50: lab(98.1434% -.369519 -1.05966);
    --color-slate-100: lab(96.286% -.852436 -2.46847);
    --color-slate-200: lab(91.7353% -.998765 -4.76968);
    --color-slate-300: lab(84.7652% -1.94535 -7.93337);
    --color-slate-400: lab(65.5349% -2.25151 -14.5072);
    --color-slate-500: lab(48.0876% -2.03595 -16.5814);
    --color-slate-600: lab(35.5623% -1.74978 -15.4316);
    --color-slate-700: lab(26.9569% -1.47016 -15.6993);
    --color-slate-800: lab(16.132% -.318035 -14.6672);
    --color-slate-900: lab(7.78673% 1.82345 -15.0537);
    --color-slate-950: lab(1.76974% 1.32743 -9.28855);
    --color-gray-50: lab(98.2596% -.247031 -.706708);
    --color-gray-100: lab(96.1596% -.0823438 -1.13575);
    --color-gray-200: lab(91.6229% -.159115 -2.26791);
    --color-gray-300: lab(85.1236% -.612259 -3.7138);
    --color-gray-400: lab(65.9269% -.832707 -8.17473);
    --color-gray-500: lab(47.7841% -.393182 -10.0268);
    --color-gray-600: lab(35.6337% -1.58697 -10.8425);
    --color-gray-700: lab(27.1134% -.956401 -12.3224);
    --color-gray-800: lab(16.1051% -1.18239 -11.7533);
    --color-gray-900: lab(8.11897% .811279 -12.254);
    --color-gray-950: lab(1.90334% .278696 -5.48866);
    --color-zinc-50: lab(98.26% 0 0);
    --color-zinc-100: lab(96.1634% .0993311 -.364041);
    --color-zinc-200: lab(90.6853% .399232 -1.45452);
    --color-zinc-300: lab(84.9837% .601262 -2.17986);
    --color-zinc-400: lab(65.6464% 1.53497 -5.42429);
    --color-zinc-500: lab(47.8878% 1.65477 -5.77283);
    --color-zinc-600: lab(35.1166% 1.78212 -6.1173);
    --color-zinc-700: lab(26.8019% 1.35387 -4.68303);
    --color-zinc-800: lab(15.7305% .613764 -2.16959);
    --color-zinc-900: lab(8.30603% .618205 -2.16572);
    --color-zinc-950: lab(2.51107% .242703 -.886115);
    --color-neutral-50: lab(98.26% 0 0);
    --color-neutral-100: lab(96.52% -.0000298023 .0000119209);
    --color-neutral-200: lab(90.952% 0 -.0000119209);
    --color-neutral-300: lab(84.92% 0 -.0000119209);
    --color-neutral-400: lab(66.128% -.0000298023 .0000119209);
    --color-neutral-500: lab(48.496% 0 0);
    --color-neutral-600: lab(34.924% 0 0);
    --color-neutral-700: lab(27.036% 0 0);
    --color-neutral-800: lab(15.204% 0 -.00000596046);
    --color-neutral-900: lab(7.78201% -.0000149012 0);
    --color-neutral-950: lab(2.75381% 0 0);
    --color-stone-50: lab(98.2686% -.0991821 .364304);
    --color-stone-100: lab(96.5286% -.0991821 .364268);
    --color-stone-200: lab(91.055% .663072 .865579);
    --color-stone-300: lab(84.7909% .928015 1.59738);
    --color-stone-400: lab(66.2166% 1.88044 3.20326);
    --color-stone-500: lab(48.1164% 2.35701 4.26852);
    --color-stone-600: lab(35.5168% 1.08604 4.07829);
    --color-stone-700: lab(27.3812% 1.32917 3.57789);
    --color-stone-800: lab(15.0353% 1.96067 1.53427);
    --color-stone-900: lab(9.03835% 1.15298 1.92955);
    --color-stone-950: lab(2.86037% .455312 .568903);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height, auto);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height, auto);
  }

  to {
    height: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    scale: .95;
  }

  to {
    scale: 1;
  }
}

@keyframes zoom-out {
  from {
    scale: 1;
  }

  to {
    scale: .95;
  }
}

@keyframes slide-in-from-top {
  from {
    translate: 0 calc(var(--spacing) * -2);
  }

  to {
    translate: 0;
  }
}

@keyframes slide-in-from-bottom {
  from {
    translate: 0 calc(var(--spacing) * 2);
  }

  to {
    translate: 0;
  }
}

@keyframes slide-in-from-left {
  from {
    translate: calc(var(--spacing) * -2) 0;
  }

  to {
    translate: 0;
  }
}

@keyframes slide-in-from-right {
  from {
    translate: calc(var(--spacing) * 2) 0;
  }

  to {
    translate: 0;
  }
}

@keyframes slide-in-from-left-52 {
  from {
    transform: translateX(-13rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right-52 {
  from {
    transform: translateX(13rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-to-left-52 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-13rem);
  }
}

@keyframes slide-out-to-right-52 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(13rem);
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes caret-blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0;
  }
}

/*# sourceMappingURL=src_shared_styles_globals_scss_css_bad6b30c._.single.css.map*/