@use "./utils/index" as *;
@use "./utils/normalize" as *;
@use "./utils/shadcn/globals.scss" as *;
@use "./utils/shadcn/tokens.scss" as *;

// Blocks
@use "./blocks/container" as *;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&family=Open+Sans:wght@300;400;600;800&display=swap");
