@import "@/shared/styles/utils/index";

.title {
  text-wrap: nowrap;
  color: $color-orange;
  margin-bottom: 50px;
  margin-top: 100px;
}

.home-page {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 80px;

    margin-bottom: 80px;
  }
}
